<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-light">
            <span class="oi oi-arrow-left"></span>
        </button>
        <button type="button" class="btn btn-light">
            <span class="oi oi-arrow-right"></span>
        </button>
        <button type="button" class="btn btn-light">
            <span class="oi oi-arrow-top"></span>
        </button>
    </div>

    <div class="input-group">
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">C:\</a>
                <a class="dropdown-item" href="#">C:\Windows</a>
                <a class="dropdown-item" href="#">C:\Temp</a>
            </div>
        </div>
        <button type="button" class="btn btn-light">
            <span class="oi oi-reload"></span>
        </button>
    </div>

    <div class="input-group">
        <input type="text" class="form-control" aria-label="Search">
    </div>
</div>

@code {

}
