<div class="btn-toolbar py-1" role="toolbar">

    <button type="button" class="btn btn-light btn-sm mr-1">
        <i class="material-icons align-middle">
            arrow_back
        </i>
    </button>
    <button type="button" class="btn btn-light btn-sm mr-1">
        <i class="material-icons align-middle">
            arrow_forward
        </i>
    </button>
    @*<button type="button" class="btn btn-light btn-sm mr-1">
            <i class="material-icons align-middle">
                expand_more
            </i>
        </button>*@
    <button type="button" class="btn btn-light btn-sm mr-1">
        <i class="material-icons align-middle"> 
            arrow_upward
        </i>
    </button>

    <div class="input-group mr-3" style="width: 50%">
        <input type="text" class="form-control" id="fullPath" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="refresh">
                <i class="material-icons align-middle">
                    refresh
                </i>
            </button>
        </div>
    </div>

    <div class="input-group" style="width: 30%">
        <input type="text" class="form-control" placeholder="Search" id="searchKeyword" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="search">
                <i class="material-icons align-middle">
                    search
                </i>
            </button>
        </div>
    </div>

</div>


@code {

}
