<style>
    .material-icons {
        font-size: 18px;
    }
</style>

<div class="btn-toolbar py-1" role="toolbar">

    <button type="button" class="btn btn-light btn-sm mr-1" disabled="@isDisabled">
        <i class="material-icons align-middle">
            arrow_back
        </i>
    </button>
    <button type="button" class="btn btn-light btn-sm mr-1" disabled="@isDisabled">
        <i class="material-icons align-middle">
            arrow_forward
        </i>
    </button>
    @*<button type="button" class="btn btn-light btn-sm mr-1">
            <i class="material-icons align-middle">
                expand_more
            </i>
        </button>*@
    <button type="button" class="btn btn-light btn-sm mr-1" disabled="@isDisabled">
        <i class="material-icons align-middle">
            arrow_upward
        </i>
    </button>

</div>

@code {
    private bool isDisabled = true;
}
