@page "/main"

@using Filazor.Core.Data

@inject FileSystemService FSService


<style>
    /* Remove default bullets */
    ul, #FSTreeView {
        list-style-type: none;
    }

    /* Remove margins and padding from the parent ul */
    #FSTreeView {
        margin: 0;
        padding: 0;
    }

    .row > div {
        border: 1px solid lightgrey;
    }
</style>

@if (driveInfos == null)
{
    <p><em>Can not find drive in this device..</em></p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col px-1">
                <p class="text-center mb-0 py-1" style="color: dimgray"><strong>File Explorer</strong></p>
            </div>
        </div>

        <div class="row">
            <div class="col px-1">
                <Filazor.Core.Pages.Controls.FileNavigationBar />
            </div>
        </div>

        <div class="row" style="height: 600px;">
            <div class="col-4 px-2 py-2">
                <ul id="FSTreeView">
                    <li>
                        <i class="material-icons align-middle">
                            computer
                        </i>
                        Computer Name
                    </li>
                    @*@foreach (var driveInfo in driveInfos)
                    {
                        <li>
                            <Filazor.Core.Pages.Controls.DriveTreeNode RootInfo="@driveInfo" ChildDirInfos="@dirInfoDic[@driveInfo.Name]" />
                        </li>
                    }*@
                </ul>
            </div>
            <div class="col-8 px-1">

            </div>
        </div>
    </div>
}


@code {

    private System.IO.DriveInfo[] driveInfos;
    private Dictionary<string, System.IO.DirectoryInfo[]> dirInfoDic = new Dictionary<string, System.IO.DirectoryInfo[]>();



    protected override async Task OnInitializedAsync()
    {
        driveInfos = await FSService.GetDriveListAsync();

        foreach (var driveInfo in driveInfos)
        {
            var dirInfo = await FSService.GetDirectoryInfos(driveInfo.Name);
            if (dirInfo != null && dirInfo.Length > 0)
            {
                dirInfoDic.Add(driveInfo.Name, dirInfo);
            }
        }
    }

    private async void Test()
    {


        await InvokeAsync(async () => { this.StateHasChanged(); });
    }

}

